@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Kode+Mono:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Rowdies:wght@300;400;700&family=Tenor+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

.body-home {
  font-family: "Tenor Sans", sans-serif;
  background-image: radial-gradient(circle, #fff 0%, #999999 100%);
  height: 100%;
}

.body-other {
  font-family: "Tenor Sans", sans-serif;
  background-color: #e4dcd1;
  height: 100%;
}

.border {
  border: 1px solid #000;
  height: calc(100vh - 7.5vh);
  width: calc(100vw - 7.5vh);
  box-sizing: border-box;
  padding-left: 1.5vw;
  padding-right: 1vw;
  margin: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

.hover:hover {
  opacity: 50%;
}

.transition {
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.color-hover:hover {
  color: #7f7f7f;
}

.color-transition {
  transition: color 0.3s ease;
}

/* project cards */

.card-cont {
  margin-top: 150px;
}

.weather-app-img {
  max-height: 50vh;
  max-width: 70vh;
}

.ajax-img {
  max-height: 100vh;
  max-width: 70vh;
}

.cosmic-img {
  max-height: 100vh;
  max-width: 100vh;
}

.media-query-img {
  max-height: 50vh;
  max-width: 70vh;
}

.thumbnail {
  filter: grayscale(97%);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 40px;
  transform-origin: top left;
  &:hover {
    filter: none;
    transform: scale(1.03);
  }
}

/* nav bar */

.active {
  color: #7f7f7f;
}

.nav-elements {
  position: absolute;
  left: 60px;
  top: 30px;
  z-index: 1;
}

/* toggle */

.toggle-true {
  opacity: 50%;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #e0e0e0;
  height: 29px;
  width: 50px;
  border-radius: 999dvh;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 50%;
  }
  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* proj LIST */

.proj-list-cont {
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;
}

.map-list-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5;
}

.map-list-img {
  width: 290px;
  position: absolute;
  left: -19vw;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.map-list-item {
  align-items: center;
}

.unified-length {
  position: relative;
}

/* footer */

footer {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* about */
.about-cont {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.me {
  border-radius: 3vh;
  height: 55vh;
  margin-left: 2vw;
}

.about-palette {
  position: absolute;
}

.accent-star1 {
  position: absolute;
  height: 7vh;
  top: 5vh;
  left: -5vw;
}

.accent-star2 {
  position: absolute;
  font-size: 17vh;
  top: 0;
  right: 0;
}
